

<div class="disable">
    <i class="icon size50 upload"></i>
    <p>업로드</p>
</div>

<div (click)="new_folder()">
    <i class="icon size50 folder"></i>
    <p>새 폴더</p>
</div>

<div class="disable">
    <i class="icon size50 download"></i>
    <p>다운로드</p>
</div>

<div class="disable">
    <i class="icon size50 link"></i>
    <p>공유</p>
</div>

<div (click)="selectItem.length > 0 && move_file()" [ngClass]="{'disable': selectItem.length == 0}">
    <i class="icon size50 folder-move"></i>
    <p>이동 / 복사</p>
</div>

<div (click)="selectItem.length == 1 && rename_file()" [ngClass]="{'disable': selectItem.length != 1}">
    <i class="icon size50 pen"></i>
    <p>이름 변경</p>
</div>

<div (click)="selectItem.length > 0 && delete_file()" [ngClass]="{'disable': selectItem.length == 0}">
    <i class="icon size50 delete"></i>
    <p>삭제</p>
</div>
<div class="disable">
    <i class="icon size50 transfer"></i>
    <p>소유권 이전</p>
</div>