/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.css';


html
{
    height: 100%;
}
body
{
    background: #efefef url(/assets/img/body-bg-gray.png);
    margin: 0px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
button
{
    font-size: 14px;
}
mat-dialog-actions button
{    
    padding: 6px 30px;
    background-color: #ffd659;
    border: 1px solid #fab545;
    border-radius: 3px;
}
mat-dialog-actions button:hover {
    color: #555;
    background-color: #ffc926;
    border-color: #f89d09;
}

mat-dialog-actions button:focus{
    background-color: #ffc926;
    border-color: #ba7505;
    outline: none;

}
mat-dialog-actions button:hover, button:focus, button.focus {
    color: #333;
    text-decoration: none;
}

input
{
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 6px 12px;
}
mat-dialog-content p
{
    width: 100%;
    margin-bottom: 10px;
}
mat-dialog-content input
{
    width: 100%;
    margin-bottom: 20px;
}
mat-dialog-actions
{
    width: 100%;
}
mat-dialog-actions button
{
    box-sizing: border-box;
}
mat-dialog-actions .ok
{ 
    flex: 1;
}

mat-dialog-actions .cancle
{ 
    flex: 1;
}

/****************************************************************
    아이콘 관련 CSS
*****************************************************************/
    @font-face{ 
        font-family: 'mountbit-icons';
        src:url(/assets/font/mountbit-icons.woff);
    }
    @font-face{ 
        font-family: 'FontAwesome';
        src:url(/assets/font/fontawesome-webfont.woff2);
    }
    i.icon
    {
        font-family: 'mountbit-icons';
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
    }

    .disable
    {
        color: #b4b4b4;
    }
    i.icon.size30
    {
        font-size: 30px;
        height: 30px;
        line-height: 30px;
    }
    i.icon.size40
    {
        font-size: 40px;
        height: 40px;
        line-height: 40px;
    }
    
    i.icon.size50
    {
        font-size: 50px;
        height: 50px;
        line-height: 50px;
    }
    /* 아이콘 컨텐츠 설정*/
        i.icon.upload:before
        {
            content: "\e602";
        }
        
        i.icon.folder:before
        {
            content: "\e60d";
        }
        
        i.icon.download:before
        {
            content: "\e606";
        }
        
        i.icon.link:before
        {
            content: "\e607";
        }
        
        i.icon.folder-move:before
        {
            content: "\e60e";
        }
        
        i.icon.pen:before
        {
            content: "\e60b";
        }
        
        i.icon.delete:before
        {
            content: "\e617";
        }
        i.icon.transfer:before
        {
            content: "\e623";
        }
        i.icon.back:before
        {
            content: "\e605";
        }
        i.icon.info:before
        {
            content: "\e621";
        }
        i.icon.ms365:before {
            content: "\e625";
            font-size: .9em;
        }
        i.icon.clocks:before {
            content: "\e622";
        }
        i.icon.folder-filled:before {
            content: "\e611";
            color: #CDCDCD;
        }
        i.icon.folder-shared:before {
            content: "\e610";
            color: #CDCDCD;
        }
        i.icon.fa-film, i.icon.fa-film:before {
            content: "\f008";
            color: #1FBFEF;
            font-family: FontAwesome;
            font-size: 22px;
            height: 10px;
            line-height: 25px;
        }
        i.icon.icon-file:before {
            content: "\e614";
            color: #CDCDCD;
        }

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(170, 170, 170);
}

:hover::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(153, 153, 153);
}