.dropZoneColor {
}
.dropZoneColorDrop {
}
.dropZoneColorDrag {
}



/* 업로드 관련 */
.ngx-file-upload
{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* 드래그시 나타나는 화면 */
.back
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 2000;
}
.upload_message
{
    width: 100%;
    height: 100%;
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    font-size: 2em;
    text-align: center;
    line-height: 300px;
}





/* 프로그래스바 관련 */
ngb-progressbar
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    position: fixed;
    z-index: 100;
}

:host ::ng-deep ngb-progressbar.s .bg-info
{
    position: relative;
    background-color: rgb(34,153,221) !important;
}

:host ::ng-deep ngb-progressbar.s2 .progress
{
    background: transparent;
}
:host ::ng-deep ngb-progressbar.s2 .bg-info
{
    position: absolute;
}
:host ::ng-deep ngb-progressbar.s2 .bg-info:after
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 70px;
    box-shadow: #569fdf 2px 0 2px 2px;
    z-index: 1000;
    border-radius: 100%;
    height: 2px;
    top: 0px;
    right: 0px;
}