<div class="ngx-file-upload" ngxDragAndDrop #upload>
    <div *ngIf="dragover" class='back'>
        <div class="upload_message">
            '{{thisfolder}}'폴더로 업로드하려면 파일을 끌어다 놓으세요.
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<!-- 메인 프로그래스바 -->
<ngb-progressbar class="s" type="info" [value]="hs.progress" *ngIf="hs.progress != 0" ></ngb-progressbar>
<!-- 프로그래스바 강조 -->
<ngb-progressbar class="s2" type="info" [value]="hs.progress" *ngIf="hs.progress != 0"></ngb-progressbar>

<app-upload-box></app-upload-box>