.ngx-file-upload
{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}
.dropZoneColor {
}
  
.dropZoneColorDrag {
    border: 3px dotted rgba(0,0,0,0.28);
    color: black;
}

.dropZoneColorDrop {
}

ngb-progressbar
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    position: fixed;
}

:host ::ng-deep ngb-progressbar.s .bg-info
{
    background-color: rgb(34,153,221) !important;
}