<!-- 'now' 은 현재 선택된 폴더(파일) -->
<div class="item" [ngClass]="{ 'on' : now}">
    <div [ngStyle]="{'margin-left': (depth * 16 - 16) + 'px'}" (click)="click_event(url)" style="height: 100%" *ngIf="click_event != null">
        {{name}}
    </div>
    <div [ngStyle]="{'margin-left': (depth * 16 - 16) + 'px'}" routerLink="{{'/drive' + url}}" style="height: 100%" *ngIf="click_event == null">
        {{name}}
    </div>
    
    <div *ngIf="content_hide" [ngStyle]="{'padding-left': (depth * 16 - 16) + 'px'}" (click)="itemclick()" class="hidebutton">▶</div>
    <div *ngIf="!content_hide" [ngStyle]="{'padding-left': (depth * 16 - 16) + 'px'}" (click)="itemclick()" class="hidebutton">▼</div>
</div>


<!-- 하위 폴더 -->
<div *ngIf="!content_hide">
    <div *ngFor="let keya of item.content | keyvalue">
        <app-folder-item [url]="keya.value.path" [name]="keya.value.name" [depth]="depth+1" [click_event]="click_event" *ngIf="keya.value.isfolder">
        </app-folder-item>
    </div>
</div>
