<html>

<div style="width: 600px">
    <h2 mat-dialog-title>공개 링크 생성</h2>
    <mat-dialog-content>
        <div class="group">
            <h6>"{{name}}"의 공개 링크</h6>
            <input [(ngModel)]="this.link" id="input" readonly/>
        </div>
        <div class="group">
            <h6>공유 옵션</h6>
            <table>
                <tr>
                    <td>공유 만료일</td>
                    <td><input /></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input /></td>
                </tr>
                <tr>
                    <td>최대 다운로드 수</td>
                    <td><input /></td>
                </tr>
                <tr>
                    <td>
                        이 폴더에 업로드만 가능
                    </td>
                </tr>
            </table>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions> 
        <button mat-button type="button" class="ok" (click)="create()">생성</button>
        <button mat-button type="button" class="copy" (click)="copy(this.link)">복사</button>
        <button mat-button type="button" class="delete" (click)="delete()">삭제</button>
        <button mat-button type="button" class="cancel" (click)="dialogRef.close()">완료</button>
    </mat-dialog-actions>
</div>


</html>