:host ::ng-deep header div.top-component * div
{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    min-width: 80px;
    text-align: center;
    cursor:  pointer;
}
:host ::ng-deep header div.top-component * div:not(.disable)
{
    color: rgb(83, 83, 83);
}
:host ::ng-deep header div.top-component * div.disable
{
    cursor: default;
}
:host ::ng-deep header div.top-component * p
{
    margin: 0px;
    padding: 0px;
}

:host ::ng-deep header div.top-component div
{
    transition: all ease 0.225s;
}
:host ::ng-deep header div.top-component div:hover:not(.disable)
{
    color:rgb(65, 139, 212);
    transform: scale( 1.04 );
}
