
header a.logo
{
    display: inline-block;
    width: 250px;
    height: 100px;
    float: left;
}
header a.logo img
{
    display: inline-block;
    width: 184px;
    height: 64px;
    padding: 20px 20px 18px 25px;
    box-sizing: content-box;
}

header div.top-component
{
    display: inline-block;
}
header div.option
{
    position: absolute;
    right: 25px;
    top: 20px;
    display: inline-block;
}
:host ::ng-deep header div.top-component * div
{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    min-width: 80px;
    text-align: center;
}
:host ::ng-deep header div.top-component * p
{
    margin: 0px;
    padding: 0px;
}