:host ::ng-deep header div.top-component * div
{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    min-width: 80px;
    text-align: center;
    cursor:  pointer;
}
:host ::ng-deep header div.top-component * div.disable
{
    cursor: default;
}
:host ::ng-deep header div.top-component * p
{
    margin: 0px;
    padding: 0px;
}