header
{
    width: 100%;
    height: 100px;
    background: #ffffff;
    display: block;
     
}
header a.logo
{
    display: inline-block;
    width: 250px;
    height: 100px;
    float: left;
}
header a.logo img
{
    display: inline-block;
    width: 184px;
    height: 64px;
    padding: 20px 20px 18px 25px;
    box-sizing: content-box;
}

header div.top-component
{
    display: inline-block;
    height: 100px;
    overflow-x: auto;
    white-space: nowrap;  /* 우측 스크롤을 하기 위해 하위 컨텐츠 내용 조정 */
}
header div.option
{
    position: absolute;
    right: 25px;
    top: 20px;
    display: inline-block;
}

.main
{
    height: calc(100% - 100px);  
}
nav
{
    display: inline-block;
    width: 250px;
    height: 100%;
    flex-direction: column;
    border-right: solid #cccccc 2px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    position: relative;
}

nav .tree
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    max-height: calc(100% - 260px);
    
    overflow: auto;
}

nav .info
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

section.content
{    
    width: calc(100% - 250px);
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

nav .logo
{
    display: inline-block;
    width: 184px;
    height: 64px;
    padding: 10px 20px 18px 0px;
}

footer
{
    display: none;
}
@media ( max-width: 1050px ) {
    header a.logo
    {
        display: none;
    }
    header div.top-component
    {
        width: calc(100% - 150px);
    }
    nav
    {
        width: 0;
        height: auto;
        position: absolute;
        padding: 0px;
        border-right: 0px;
    }
    section.content
    {    
        width: 100%;
        height: auto;
    }
    .main
    {
        overflow-y: auto;
    }
    nav .info
    {
        display: none;
    }

    
    footer
    {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: #f9f9f9;
        border-top: #ddd 1px solid;
        padding: 5px 10px;
        display: flex;
    }

    footer progress
    {
        margin-top:3px;
    flex: 1;
    }
    footer div
    {
        padding-left: 10px;
    box-sizing: border-box;
    }
    
}