.outline
{
    border: 2px solid black;
}
header
{
    width: 100%;
    height: 90px;
    background:rgb(250,250,250);
    display: block;
     
}
header a.logo
{
    display: inline-block;
    width: 250px;
    height: 90px;
    float: left;
}
header a.logo img
{
    display: inline-block;
    width: 250px;
    height: 90px;
    box-sizing: content-box;
}

header div.top-component
{
    display: inline-block;
    height: 90px;
    margin-left: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;  /* 우측 스크롤을 하기 위해 하위 컨텐츠 내용 조정 */
}
header div.option
{
    position: absolute;
    right: 25px;
    top: 20px;
    display: inline-block;
}
.btn
{
    transition: all ease 0.3s;
}

.main
{
    height: calc(100% - 100px);  
}
nav
{
    display: inline-block;
    width: 250px;
    height: 100%;
    background: rgb(64, 69, 73);
    flex-direction: column;
    box-sizing: border-box;
    float: left;
    position: relative;
}
nav .min
{
     background: rgb(102, 105, 109);
     width: 100%;
     font-weight: 500;
     text-align: 10px;
     height: 35px;
     line-height: 35px;
     color: rgb(230, 230, 230);
     font-size:16px;
     
     text-align: center;
}
nav .tree
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    max-height: calc(100% - 260px);
    
    overflow-y: auto;
    overflow-x: hidden;
}

nav .info
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    color: rgb(211, 211, 211);
}

section.content
{    
    width: calc(100% - 250px);
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

nav .logo
{
    display: inline-block;
    width: 184px;
    height: 64px;
    padding: 10px 20px 20px 10px;
    box-sizing: content-box;
}

nav .homepageInfo, .storageInfo, .capacityBar
{
    text-align: center;
    vertical-align: middle;
}

progress
{
    width: calc(100% - 20px);
}

footer
{
    display: none;
}

@media ( max-width: 1050px ) {
    header a.logo
    {
        display: none;
    }
    header div.top-component
    {
        width: calc(100% - 150px);
    }
    nav
    {
        width: 0;
        height: auto;
        position: absolute;
        padding: 0px;
        border-right: 0px;
    }
    section.content
    {    
        width: 100%;
        height: none;
    }
    .main
    {
        height: calc(100% - 130px);
        overflow-y: auto;
    }
    nav .info
    {
        display: none;
    }
    footer
    {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: #f9f9f9;
        border-top: #ddd 1px solid;
        padding: 5px 10px;
        display: flex;
    }

    footer progress
    {
        margin-top:3px;
        flex: 1;
    }
    footer div
    {
        padding-left: 10px;
        box-sizing: border-box;
    }
    
}