
<header class="bar">
    <a [routerLink]="['/']" class="logo"><img src="/assets/img/poweredby.png"></a>
    <div class="top-component">        
        <div #top></div>
    </div>
    <div class="option">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{user_name}} 님</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem [routerLink]="['/profile']">프로필 및 설정</button>
                <button ngbDropdownItem [routerLink]="['/logout']">로그아웃</button>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <nav>
        <div class="tree">
            <div #left></div>
        </div>
        <div class="info">
            사용자 저장 용량
            <progress class="capacityBar" value={{storagePercent}} max='100'></progress>
            <br><br>
            {{storageSize}} 사용중 | {{remainStorageSize}} 여유
            <br><br>
            <a href="https://www.cloudike.co.kr/download" target="_blank">앱 다운로드</a>
            <br>
            <a href="https://www.cloudike.co.kr/" target="_blank">Cloudike 홈페이지</a>
            <img src="/assets/img/poweredby.png" class="logo"/>
        </div>
    </nav>
    <section class="content">
        <div #main></div>
    </section>
</div>
<footer>
    <progress class="capacityBar" value={{storagePercent}} max='100'></progress>
    <div>{{storageSize}} 사용중 | {{remainStorageSize}} 여유</div> 
</footer>