:host ::ng-deep nav .item
{
    transition: all ease 0.225s;
    color: rgb(255,255,255);
    display: block;
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    margin: 0px;
    height: 30px;
    box-sizing: border-box;
    user-select: none;
}

:host ::ng-deep nav .item_name
{
    width:100%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}

:host ::ng-deep nav .hidebutton
{
    position: relative;
    top: -20px;
    left: -18px;
    font-size: 10px;
    margin: 0px;
    padding: 4px;
    width: 16px;
    z-index: 100;
    color: #aaaaaa;
    cursor:  pointer;
}

:host ::ng-deep nav .item.on
{
    color:rgb(132, 200, 255);
}

:host ::ng-deep nav .item:hover
{
    color:rgb(200, 200, 200);
}
:host ::ng-deep nav .item.on:hover
{
    color:rgb(158, 211, 255);
}
:host ::ng-deep nav .item:focus
{
    background: rgb(255, 229, 150);
    outline: none;
}