<div class="path">
    <div *ngFor="let item of ParantFolder; first as isfirst">
        <span *ngIf="!isfirst" class="space">>></span>
        <a class="path-link" routerLink="{{'/drive' + item.path}}">{{item.name}}</a>
    </div>
</div>
<div class="tableContainer">
  <table>
    <tr>
      <th id="check">
        <div class="checkbox-container">
          <input type="checkbox" name="chk_info2" value="HTML" id="selectAllChkbox" (change)="selectAll($event.target.checked)">
          <label for="selectAllChkbox"></label>
        </div>
      </th>
      <th id="path">파일명</th>
      <th>공용 폴더명</th>
      <th>형식</th>
      <th>크기</th>
      <th>수정일</th>
      <th>공유</th>
    </tr>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)" (cdkDropListSorted)="drag($event)">
      <tr *ngFor="let item of nowfile.content | keyvalue:keepOriginalOrder; let i = index" cdkDrag cdkDragData="{{item.value.path}}" [contextMenu]="menuSelect(item.value)" [contextMenuSubject]="item.value">
        <div *cdkDragPreview class="dragitem">이동 <b>{{item.value.name}}</b></div>
        <td>
          <div class="checkbox-container">
            <input type="checkbox" name="chk_info" value="{{item.value.path}}" id="{{'chkbox'+ item.value.name}}" (change)="onCheckboxChange(item, $event)">
            <label for="{{'chkbox'+ item.value.name}}"></label>
          </div>
          <i *ngIf="item.value.isfolder"></i>
        </td>
        <td *ngIf="item.value.isfolder" routerLink="{{'/drive' + item.value.path}}" ><i class="icon" [ngClass]="{'folder-filled':item.value.isShared != true, 'folder-shared':item.value.isShared == true}"></i>{{item.value.name}}</td>
        
        <td *ngIf="!item.value.isfolder" (click)="this.Download(item.value)">
          <img *ngIf="item.value.type == 'Word' && item.value.extraData['small'] != null" class="smallThumbnails" src="{{item.value.extraData['small']}}"/>
          <i *ngIf="item.value.type == 'Word' && item.value.extraData['small'] == null" class="icon word size40"></i>
          <i *ngIf="item.value.type == '문서'" class="icon icon-file size40"></i>
          <i *ngIf="item.value.type == '비디오'" class="icon fa-film size40"></i>
          <i *ngIf="item.value.type == '압축 파일'" class="icon zip size40"></i>
          <span>{{item.value.name}}</span>
        </td>
        <td>{{item.value.owner_path}}</td>
        <td>{{item.value.type}}</td>
        <td>{{item.value.bytesString}}</td>
        <td>{{item.value.date}}</td>
        <td>
            <i class="icon share share_animation" [ngClass]="{'disable': item.value.public_hash == null}" (click)="share_file(item.value)"></i>
        </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="dropdown ngx-contextmenu">
  <ul class="dropdown-menu">
    <li>
      <context-menu #basicMenu [useBootstrap4]="true">
        <ng-template contextMenuItem let-item>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && Download(item)">
            <i class="icon download"></i>
            다운로드 {{CheckingItem(item)}}
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block">
            <i class="icon link"></i>
            공유
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && move_file()">
            <i class="icon folder-move"></i>
            이동/복사
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block">
            <i class="icon pen"></i>
            이름 변경
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && delete_file()">
            <i class="icon delete"></i>
            삭제
          </button>
        </ng-template>
        <ng-template contextMenuItem let-item>
          <button [disabled]="!item.isfolder" class="btnMenu btn-link btn-block">
            <i class="icon info"></i>
            상세 정보
          </button>
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem let-item>
          <button [disabled]="!item.isfolder" class="btnMenu btn-link btn-block">
            <i class="icon transfer"></i>
            소유권 이전
          </button>
        </ng-template>
      </context-menu>
    </li>
  </ul>
</div>

<div class="dropdown ngx-contextmenu">
  <ul class="dropdown-menu">
    <li>
      <context-menu #otherMenu [useBootstrap4]="true">
        <ng-template contextMenuItem let-item>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && Download(item)">
            <i class="icon download"></i>
            다운로드 {{CheckingItem(item)}}
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block">
            <i class="icon ms365"></i>
            브라우저에서 편집
          </button>
        </ng-template>
        <ng-template contextMenuItem let-item>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && move_file()">
            <i class="icon folder-move"></i>
            이동/복사
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block">
            <i class="icon pen"></i>
            이름 변경
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block">
            <i class="icon clocks"></i>
            버전 보기
          </button>
        </ng-template>
        <ng-template contextMenuItem>
          <button class="btnMenu btn-link btn-block" (click)="selectItem.length > 0 && delete_file()">
            <i class="icon delete"></i>
            삭제
          </button>
        </ng-template>
        <ng-template contextMenuItem let-item>
          <button [disabled]="!item.isfolder" class="btnMenu btn-link btn-block">
            <i class="icon info"></i>
            상세 정보
          </button>
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem let-item>
          <button [disabled]="!item.isfolder" class="btnMenu btn-link btn-block">
            <i class="icon transfer"></i>
            소유권 이전
          </button>
        </ng-template>
      </context-menu>
    </li>
  </ul>
</div>