<div class="path">
    <div *ngFor="let item of ParantFolder; first as isfirst">
        <span *ngIf="!isfirst" class="space">>></span>
        <a class="path-link" routerLink="{{'/drive' + item.path}}">{{item.name}}</a>
    </div>
</div>

<table>
  <tr>
    <th><input type="checkbox" name="chk_info" value="HTML" id="a" (change)="selectAll($event)"></th>
    <th>파일명</th>
    <th>공용 폴더명</th>
    <th>형식</th>
    <th>크기</th>
    <th>수정일</th>
    <th>공유</th>
  </tr>
  <tr *ngFor="let item of nowfile.content | keyvalue:keepOriginalOrder; let i = index">
      <td><input type="checkbox" name="chk_info" value="HTML" id="'chkbox' + {{i}}" (change)="onCheckboxChange(item, $event)"></td>
      <td *ngIf="item.value.isfolder" routerLink="{{'/drive' + item.value.path}}" >{{item.value.name}}</td>
      <td *ngIf="!item.value.isfolder" (click)="this.Download(item.value)">{{item.value.name}}</td>
      <td>{{item.value.owner_path}}</td>
      <td>{{item.value.type}}</td>
      <td>{{item.value.bytesString}}</td>
      <td>{{item.value.date}}</td>
      <td>아이콘</td>
    <td></td>
  </tr>
</table>